<div class="flex flex-col w-full space-y-8">
    <div class="flex flex-col w-full space-y-2">
        <h2 class="text-xl font-bold">Start time</h2>
        <ui-dropdown placeholder="Select start time" [disabled]="!(startDate$ | async) || !(endDate$ | async)"
            [options]="(startTimePeriods$ | async)" [selectedOption]="(startTime$ | async)"
            (onSelectOption)="updateStartTime($event)" />
    </div>
    <div class="flex flex-col w-full space-y-2">
        <h2 class="text-xl font-bold">End time</h2>
        <ui-dropdown placeholder="Select end time"
            [disabled]="!(startDate$ | async) || !(endDate$ | async) || !(isStartTimeSelected$ | async)"
            [options]="(endTimePeriods$ | async)" [selectedOption]="(endTime$ | async)"
            (onSelectOption)="updateEndTime($event)" />
    </div>
</div>