<div class="flex flex-col w-full space-y-8">
    <ui-date-picker label="Start date" placeholder="Select start date" [date]="(startDate | async) ?? null"
        [minDate]="today" [disabled]="!(isEnabled() | async)" (dateChange)="updateStartDate($event)" />
    <ui-date-picker label="End date" placeholder="Select end date" [date]="(endDate | async) ?? null"
        [disabled]="!(isEnabled() | async) || !(startDate | async) || (workspace$ | async)?.maxBookingDays === 1"
        [minDate]="(startDate | async) ?? null" [maxDate]="(maxDate$ | async) ?? null"
        (dateChange)="updateEndDate($event)" />
</div>