<div class="flex flex-col w-screen max-w-8xl p-5 md:p-10 lg:p-20 space-y-5 md:space-y-10">
    <div class="flex flex-col gap-4">
        <h1 class="text-2xl md:text-4xl font-bold h-12">Available coworking spaces</h1>
        <p>Browse and choose a workspace that fits your needs</p>
    </div>
    <div class="flex flex-col space-y-6">
        <ng-container *ngIf="coworkings$ | async as coworkings">
            <ng-container *ngIf="coworkings.length > 0; else noCoworkings">
                <ng-container *ngFor="let coworking of coworkings">
                    <app-coworking-card [coworking]="coworking" />
                </ng-container>
            </ng-container>
            <ng-template #noCoworkings>
                <div
                    class="flex flex-col w-full items-center justify-center text-center rounded-[20px] h-[496px] p-4 bg-white gap-8">
                    <p class="text-4xl">👨‍💻</p>
                    <div class="flex flex-col gap-4 items-center">
                        <h2 class="font-bold text-3xl">No coworking spaces available at the moment</h2>
                        <p>Please check back later or try adjusting your filters</p>
                    </div>
                    <ui-button class="px-6" (onClick)="onRefreshList()">
                        Refresh list
                    </ui-button>
                </div>
            </ng-template>
        </ng-container>
    </div>
</div>