<ng-container *ngIf="workspace">
    <div class="flex flex-col md:flex-row rounded-[20px] p-4 bg-white w-full md:space-x-6">
        <workspace-carousel [images]="workspace.imageUrls ?? []" />
        <div class="flex flex-col space-y-8 w-full py-3">
            <workspace-card-title [title]="workspace.title" [description]="workspace.description"
                [buttonLabel]="buttonLabel" (onButtonClick)="onBookNow()" />
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                <ng-container *ngIf="workspace.amenities">
                    <workspace-amenities [amenities]="workspace.amenities" />
                </ng-container>
                <ng-container *ngIf="getWorkspaceCapacity() as wc">
                    <workspace-capacity-options [capacityOptions]="wc.availability" />
                    <workspace-availability [availability]="wc.availability" [areaType]="workspace.areaType" />
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>