<div *ngIf="areaCapacity$ | async as capacities" class="flex flex-col w-full space-y-6 font-medium">
    <ng-container *ngIf="areaType$ | async as type">
        <p>What {{type}} size do you need?</p>
        <div class="flex flex-col">
            <ng-container *ngFor="let capacity of capacities">
                <ui-checkbox [isChecked]="(bookedAreaCapacity$ | async)?.includes(capacity) ?? false"
                    (onCheckboxChange)="onChangeAreaCapacity(capacity, $event)">
                    <p class="select-none">{{type}} for <span class="font-semibold">{{capacity > 1 ?
                            capacity
                            + ' people' : '1 person'}}</span></p>
                </ui-checkbox>
            </ng-container>
        </div>
    </ng-container>
</div>